[user]
	name = Jeremy Ruppel
	email = jeremy@coder.com

[core]
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	ls = ls-files
	dif = diff -w -- ':!package-lock.json'
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	unstage = reset HEAD

[rerere]
	enabled = 1
	autoupdate = 1

[core]
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	dark = true 

[merge]
	conflictStyle = zdiff3
